@use "./variables" as *;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-family: "Manrope", sans-serif;
}

body {
  background-color: $color-dark-blue;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.box {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  background-color: $color-dark-grayish-blue;
  border-radius: 15px;
  padding: 2rem;
  padding-bottom:5rem;
  max-width: 343px;

  &__number {
    text-transform: uppercase;
    font-size: 11px;
    color: $color-neon-green;
    letter-spacing: 3.46px;
  }

  &__quote {
    color: $color-light-cyan;
    font-size: 24px;
    line-height: 33px;
    letter-spacing: 0.26px;
    max-width: 295px;
    text-align: center;
  }

  &__line {
  }

  &__dice {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background-color: $color-neon-green;
    bottom: -30px;
    cursor: pointer;
  }
}

