@use "./variables" as *;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

$bp-tablet : 37.5em; //600
$bp-320: 370px;

html {
  font-family: "Manrope", sans-serif;
}

body {
  background-color: $color-dark-blue;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.box {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  background-color: $color-dark-grayish-blue;
  border-radius: 15px;
  padding: 2rem;
  padding-bottom:5rem;
  max-width: 343px;
  transition: all 0.5s ease-in-out;

  @media only screen and (min-width: $bp-tablet) {
      max-width: 850px;          
            
  }

  @media only screen and (max-width: $bp-320) {
    max-width: 240px;      
          
}



  &__number {
    text-transform: uppercase;
    font-size: 11px;
    color: $color-neon-green;
    letter-spacing: 3.46px;
  }

  &__quote {
    color: $color-light-cyan;
    font-size: 24px;
    line-height: 33px;
    letter-spacing: 0.26px;
    max-width: 295px;
    text-align: center;
    min-height: 100px;

    @media only screen and (min-width: $bp-tablet) {
    max-width: 370px;            
            
    }
  }

  &__mobile-line {
    @media only screen and (min-width: $bp-tablet) {
         display: none;       
            
    }
  }

  &__desktop-line {
    display: none;
    @media only screen and (min-width: $bp-tablet) {
        display: block;        
            
    }
  }

  &__dice {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background-color: $color-neon-green;
    bottom: -30px;
    cursor: pointer;

    &:hover {

      @media only screen and (min-width: $bp-tablet) {
        -webkit-box-shadow:0px 0px 65px 1px rgba(82,255,169,0.91);
        -moz-box-shadow: 0px 0px 65px 1px rgba(82,255,169,0.91);
        box-shadow: 0px 0px 65px 1px rgba(82,255,169,0.91);    
            
      }
 
    }
  }
}



@media (min-width: 840px) {
  .box {
  
    width: 80%;
  }
}


@media (max-width: 340px) {
  .box {
    
    width: 95%;
  }
}

